{% extends "layouts/app.twig" %}

{% block content %}

    <form action="/" method="GET">
        <div class="input-group mb-3 ml-2">
            <input class="form-control w-50 mr-2" type="date" name="date" value="{{ date }}" id="example-date-input">
            <select class="custom-select" aria-label="Default select example" name="currency">
                <option>EUR</option>
                {% for name, value in rates %}
                    <option {{ requestedCurrency == name ? 'selected': '' }} >
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn btn-primary ml-2" type="submit">Get</button>
            <p class="text-danger">{{ error }}</p>
        </div>
    </form>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <td>Currency</td>
            <td>Rate</td>
        </tr>
        </thead>
        <tbody>
        {% for name, value in rates %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}